

// Process Parameters:

// Process Parameters for Adapter_Trimmer_Quality_Module_Adapter_Removal:
params.Adapter_Trimmer_Quality_Module_Adapter_Removal.phred =  33  //*  @dropdown @options:"33","64" @description:"Specifies the fastq quality encoding. Default is 33 which is now almost universally used, and 64 which is used in some older Illumina data"
params.Adapter_Trimmer_Quality_Module_Adapter_Removal.Tool_for_Adapter_Removal =  "trimmomatic"  //* @dropdown @options:"trimmomatic","fastx_clipper" @description:"Choose adapter removal tool to be used. Note: fastx_clipper is not suitable for paired reads." 
params.Adapter_Trimmer_Quality_Module_Adapter_Removal.Adapter_Sequence =  ""  //* @textbox @description:"Removes 3' Adapter Sequences. You can enter a single sequence or multiple sequences in different lines. Reverse sequences will not be removed." @tooltip:"Trimmomatic is used for adapter removal" 
params.Adapter_Trimmer_Quality_Module_Adapter_Removal.min_length =  10  //*  @input @description:"Specifies the minimum length of reads to be kept"
params.Adapter_Trimmer_Quality_Module_Adapter_Removal.seed_mismatches =  2  //* @input @description:"Specifies the maximum mismatch count which will still allow a full match to be performed"
params.Adapter_Trimmer_Quality_Module_Adapter_Removal.palindrome_clip_threshold =  30   //* @input @description:"Specifies how accurate the match between the two -adapter ligated- reads must be for PE palindrome read alignment."
params.Adapter_Trimmer_Quality_Module_Adapter_Removal.simple_clip_threshold =  5  //* @input @description:"specifies how accurate the match between any adapter etc. sequence must be against a read"
params.Adapter_Trimmer_Quality_Module_Adapter_Removal.discard_non_clipped =  "yes"  //* @dropdown @options:"yes","no" @description:"-c: discard_non_clipped sequences (keep only sequences which contained the adapter)"
params.Adapter_Trimmer_Quality_Module_Adapter_Removal.remove_previous_reads =  "false"  //*  @checkbox @description:"After successful completion of the adapter removal step, previous reads will be removed to save space. However, this might affect resume functionality."

// Process Parameters for Adapter_Trimmer_Quality_Module_Trimmer:
params.Adapter_Trimmer_Quality_Module_Trimmer.phred =  33  //*  @dropdown @options:"33","64" @description:"Specifies the fastq quality encoding. Default is 33 which is now almost universally used, and 64 which is used in some older Illumina data"
params.Adapter_Trimmer_Quality_Module_Trimmer.single_or_paired_end_reads =  ""  //* @dropdown @options:"single","pair" 
params.Adapter_Trimmer_Quality_Module_Trimmer.trim_length_5prime =  0  //* @input @description:"Trimming length from 5' end"  
params.Adapter_Trimmer_Quality_Module_Trimmer.trim_length_3prime =  0  //* @input @description:"Trimming length from 3' end"  
params.Adapter_Trimmer_Quality_Module_Trimmer.trim_length_5prime_R1 =  0  //* @input @description:"Trimming length from 5' end of R1 reads"  
params.Adapter_Trimmer_Quality_Module_Trimmer.trim_length_3prime_R1 =  0  //* @input @description:"Trimming length from 3' end of R1 reads"  
params.Adapter_Trimmer_Quality_Module_Trimmer.trim_length_5prime_R2 =  0  //* @input @description:"Trimming length from 5' end of R2 reads"  
params.Adapter_Trimmer_Quality_Module_Trimmer.trim_length_3prime_R2 =  0  //* @input @description:"Trimming length from 3' end of R2 reads" 
params.Adapter_Trimmer_Quality_Module_Trimmer.remove_previous_reads =  "false"  //*  @checkbox @description:"After successful completion of the trimming step, previous reads will be removed to save space. However, this might affect resume functionality."

// Process Parameters for Adapter_Trimmer_Quality_Module_Quality_Filtering:
params.Adapter_Trimmer_Quality_Module_Quality_Filtering.tool =  "trimmomatic"  //* @dropdown @options:"trimmomatic","fastx" @description:"Choose quality removal tool to be used. Note:fastx option (fastx_toolkit fastq_quality_filter) is not suitable for paired reads." 
params.Adapter_Trimmer_Quality_Module_Quality_Filtering.phred =  33  //*  @dropdown @options:"33","64" @description:"Specifies the fastq quality encoding. Default is 33 which is now almost universally used, and 64 which is used in some older Illumina data"
params.Adapter_Trimmer_Quality_Module_Quality_Filtering.window_size =  10  //* @input @description:"Performs a sliding window trimming approach. It starts scanning at the 5' end and clips the read once the average quality within the window falls below a threshold (=required_quality)."  
params.Adapter_Trimmer_Quality_Module_Quality_Filtering.required_quality_for_window_trimming =  15  //* @input @description:"specifies the average quality required for window trimming approach" 
params.Adapter_Trimmer_Quality_Module_Quality_Filtering.leading =  5  //* @input @description:"Cut bases off the start of a read, if below a threshold quality" 
params.Adapter_Trimmer_Quality_Module_Quality_Filtering.trailing =  5  //* @input @description:"Cut bases off the end of a read, if below a threshold quality"  
params.Adapter_Trimmer_Quality_Module_Quality_Filtering.minlen =  36  //* @input @description:"Specifies the minimum length of reads to be kept"  
params.Adapter_Trimmer_Quality_Module_Quality_Filtering.minQuality =  20  //* @input @description:"Minimum quality score to keep reads"
params.Adapter_Trimmer_Quality_Module_Quality_Filtering.minPercent =  100  //* @input @description:"Minimum percent of bases that must have entered minQuality"
params.Adapter_Trimmer_Quality_Module_Quality_Filtering.remove_previous_reads =  "false"  //*  @checkbox @description:"After successful completion of the quality filtering step, previous reads will be removed to save space. However, this might affect resume functionality."

// Process Parameters for BAM_Analysis_Hisat2_featureCounts_Prep:
params.BAM_Analysis_Hisat2_featureCounts_Prep.run_name =  ["gene_id","transcript_id"]  //* @input @title:"Define each of the featureCounts Parameters" @description:"prefix for run output" 
params.BAM_Analysis_Hisat2_featureCounts_Prep.run_parameters =  ["-g gene_id -s 0 -Q 20 -T 2 -B -d 50 -D 1000 -C --fracOverlap 0 --minOverlap 1","-g transcript_id -s 0 -Q 20 -T 2 -B -d 50 -D 1000 -C --fracOverlap 0 --minOverlap 1"]  //* @input  @description:"-s Indicate strand-specific read counting: 0 (unstranded, default), 1 (stranded) and 2 (reversely stranded) -Q The minimum mapping quality score -T Number of threads -B requireBothEndsMapped -C countChimericFragments −−fracOverlap Minimum fraction of overlapping bases −−minOverlap Minimum number of overlapping bases" 
params.BAM_Analysis_Hisat2_featureCounts_Prep.sense_antisense =  "No"  //* @dropdown @options:"Yes","No"  @description:"Quantify sense/antisense genes and transcripts"

// Process Parameters for BAM_Analysis_STAR_featureCounts_Prep:
params.BAM_Analysis_STAR_featureCounts_Prep.run_name =  ["gene_id","transcript_id"]  //* @input @title:"Define each of the featureCounts Parameters" @description:"prefix for run output" 
params.BAM_Analysis_STAR_featureCounts_Prep.run_parameters =  ["-g gene_id -s 0 -Q 20 -T 2 -B -d 50 -D 1000 -C --fracOverlap 0 --minOverlap 1","-g transcript_id -s 0 -Q 20 -T 2 -B -d 50 -D 1000 -C --fracOverlap 0 --minOverlap 1"]  //* @input  @description:"-s Indicate strand-specific read counting: 0 (unstranded, default), 1 (stranded) and 2 (reversely stranded) -Q The minimum mapping quality score -T Number of threads -B requireBothEndsMapped -C countChimericFragments −−fracOverlap Minimum fraction of overlapping bases −−minOverlap Minimum number of overlapping bases" 
params.BAM_Analysis_STAR_featureCounts_Prep.sense_antisense =  "No"  //* @dropdown @options:"Yes","No"  @description:"Quantify sense/antisense genes and transcripts"

// Process Parameters for BAM_Analysis_Tophat2_featureCounts_Prep:
params.BAM_Analysis_Tophat2_featureCounts_Prep.run_name =  ["gene_id","transcript_id"]  //* @input @title:"Define each of the featureCounts Parameters" @description:"prefix for run output" 
params.BAM_Analysis_Tophat2_featureCounts_Prep.run_parameters =  ["-g gene_id -s 0 -Q 20 -T 2 -B -d 50 -D 1000 -C --fracOverlap 0 --minOverlap 1","-g transcript_id -s 0 -Q 20 -T 2 -B -d 50 -D 1000 -C --fracOverlap 0 --minOverlap 1"]  //* @input  @description:"-s Indicate strand-specific read counting: 0 (unstranded, default), 1 (stranded) and 2 (reversely stranded) -Q The minimum mapping quality score -T Number of threads -B requireBothEndsMapped -C countChimericFragments −−fracOverlap Minimum fraction of overlapping bases −−minOverlap Minimum number of overlapping bases" 
params.BAM_Analysis_Tophat2_featureCounts_Prep.sense_antisense =  "No"  //* @dropdown @options:"Yes","No"  @description:"Quantify sense/antisense genes and transcripts"

// Process Parameters for BAM_Analysis_RSEM_featureCounts_Prep:
params.BAM_Analysis_RSEM_featureCounts_Prep.run_name =  ["gene_id","transcript_id"]  //* @input @title:"Define each of the featureCounts Parameters" @description:"prefix for run output" 
params.BAM_Analysis_RSEM_featureCounts_Prep.run_parameters =  ["-g gene_id -s 0 -Q 20 -T 2 -B -d 50 -D 1000 -C --fracOverlap 0 --minOverlap 1","-g transcript_id -s 0 -Q 20 -T 2 -B -d 50 -D 1000 -C --fracOverlap 0 --minOverlap 1"]  //* @input  @description:"-s Indicate strand-specific read counting: 0 (unstranded, default), 1 (stranded) and 2 (reversely stranded) -Q The minimum mapping quality score -T Number of threads -B requireBothEndsMapped -C countChimericFragments −−fracOverlap Minimum fraction of overlapping bases −−minOverlap Minimum number of overlapping bases" 
params.BAM_Analysis_RSEM_featureCounts_Prep.sense_antisense =  "No"  //* @dropdown @options:"Yes","No"  @description:"Quantify sense/antisense genes and transcripts"

// Process Parameters for BAM_Analysis_Module_Kallisto_featureCounts_Prep:
params.BAM_Analysis_Module_Kallisto_featureCounts_Prep.run_name =  ["gene_id","transcript_id"]  //* @input @title:"Define each of the featureCounts Parameters" @description:"prefix for run output" 
params.BAM_Analysis_Module_Kallisto_featureCounts_Prep.run_parameters =  ["-g gene_id -s 0 -Q 20 -T 2 -B -d 50 -D 1000 -C --fracOverlap 0 --minOverlap 1","-g transcript_id -s 0 -Q 20 -T 2 -B -d 50 -D 1000 -C --fracOverlap 0 --minOverlap 1"]  //* @input  @description:"-s Indicate strand-specific read counting: 0 (unstranded, default), 1 (stranded) and 2 (reversely stranded) -Q The minimum mapping quality score -T Number of threads -B requireBothEndsMapped -C countChimericFragments −−fracOverlap Minimum fraction of overlapping bases −−minOverlap Minimum number of overlapping bases" 
params.BAM_Analysis_Module_Kallisto_featureCounts_Prep.sense_antisense =  "No"  //* @dropdown @options:"Yes","No"  @description:"Quantify sense/antisense genes and transcripts"

// Process Parameters for Check_and_Build_Module_Bowtie_Index:
params.Check_and_Build_Module_Bowtie_Index.bowtie_build_parameters =  ""  //* @input

// Process Parameters for Check_and_Build_Module_Check_Build_Rsem_Index:
params.Check_and_Build_Module_Check_Build_Rsem_Index.create_bowtie_rsem_index =  "false"  //* @checkbox 
params.Check_and_Build_Module_Check_Build_Rsem_Index.create_bowtie2_rsem_index =  "false"  //* @checkbox 
params.Check_and_Build_Module_Check_Build_Rsem_Index.create_star_rsem_index =  "true"  //* @checkbox 
params.Check_and_Build_Module_Check_Build_Rsem_Index.transcript_to_gene_map =  ""  //* @input @description:"Activated when transcript_to_gene_map path is entered into this field. It will use transcript_to_gene_map file instead of gtf file (optional)"
params.Check_and_Build_Module_Check_Build_Rsem_Index.RSEM_build_parameters =  "-p 1"  //* @input 

// Process Parameters for Check_and_Build_Module_Hisat2_Index:
params.Check_and_Build_Module_Hisat2_Index.hisat2_build_parameters =  ""  //* @input

// Process Parameters for Check_and_Build_Module_Bowtie2_Index:
params.Check_and_Build_Module_Bowtie2_Index.bowtie2_build_parameters =  ""  //* @input

// Process Parameters for Check_and_Build_Module_STAR_Index_Check_Build:
params.Check_and_Build_Module_STAR_Index_Check_Build.star_build_parameters =  ""  //* @input @description:"star build parameters" 

// Process Parameters for Sequential_Mapping_Module_Sequential_Mapping:
params.Sequential_Mapping_Module_Sequential_Mapping._select_sequence =  ""  //* @dropdown @description:"Select sequence for mapping" @title:"Sequence Set for Mapping" @options:{"rRNA","ercc","miRNA","tRNA","piRNA","snRNA","rmsk","genome",custom"},{_nucleicAcidType="dna","ercc","rmsk","genome","custom"}
params.Sequential_Mapping_Module_Sequential_Mapping.index_directory =  ""  //* @input  @description:"index directory of sequence(full path)" @tooltip:"The index directory must include the full path and the name of the index file must only be the prefix of the fasta or index file. Index files and Fasta files also need to have the same prefix.For STAR alignment, gtf file which has the same prefix, must be found in same directory" 
params.Sequential_Mapping_Module_Sequential_Mapping.name_of_the_index_file =  ""  //* @input  @autofill:{_select_sequence=("rRNA","ercc","miRNA","tRNA","piRNA","snRNA","rmsk","genome"), _select_sequence},{_select_sequence="custom", " "} @description:"Name of the index or fasta file (prefix)" @tooltip:"The index directory must include the full path and the name of the index file must only be the prefix of the fasta or index file. Index files and Fasta files also need to have the same prefix.For STAR alignment, gtf file which has the same prefix, must be found in same directory" 
params.Sequential_Mapping_Module_Sequential_Mapping._aligner =  "bowtie2"  //* @dropdown @description:"Select aligner tool"  @options:{_select_sequence=("rRNA","ercc","miRNA","tRNA","piRNA","snRNA","rmsk"),"bowtie","bowtie2"},{_select_sequence=("genome","custom"),"bowtie","bowtie2","STAR"}
params.Sequential_Mapping_Module_Sequential_Mapping.aligner_Parameters =  ""  //* @input @description:"Aligner parameters." @autofill:{_aligner="bowtie", "--threads 4"},{_aligner="bowtie2", "--threads 4"},{_aligner="STAR", "--runThreadN 2"} 
params.Sequential_Mapping_Module_Sequential_Mapping.description =  ""  //* @input @autofill:{_select_sequence=("rRNA","ercc","miRNA","tRNA","piRNA","snRNA","rmsk","genome"), _select_sequence},{_select_sequence="custom", " "} @description:"Description of index file (please don't use comma or quotes in this field" 
params.Sequential_Mapping_Module_Sequential_Mapping.filter_Out =  "Yes"  //* @dropdown @dropdown @options:"Yes","No" @description:"Select whether or not you want the reads mapped to this index filtered out of your total reads." 
params.Sequential_Mapping_Module_Sequential_Mapping.sense_antisense =  "No"  //* @dropdown @options:"Yes","No"  @description:"Quantify sense/antisense sequences"
params.Sequential_Mapping_Module_Sequential_Mapping.remove_duplicates =  "no"  //* @dropdown @description:"Duplicates (both PCR and optical) will be removed from alignment file (bam) and separate count table will be created for comparison" @title:"General Mapping Options" @options:{"yes","no"}
params.Sequential_Mapping_Module_Sequential_Mapping.remove_duplicates_based_on_UMI_after_mapping =  "no"  //* @dropdown @description:"UMI extract process should have executed before this step. Read headers should have UMI tags which are separated with underscore.(eg. NS5HGY:2:11_GTATAACCTT)" @options:{"yes","no"}
params.Sequential_Mapping_Module_Sequential_Mapping.remove_previous_reads =  "false"  //* @checkbox @description:"After successful completion of the sequential mapping, previous reads will be removed to save space. However, this might affect resume functionality."

// Process Parameters for SplitFastq:
params.SplitFastq.readsPerFile =  5000000  //* @input @description:"The number of reads per file"

// Process Parameters for Tophat2_Module_Map_Tophat2:
params.Tophat2_Module_Map_Tophat2.tophat2_parameters =  "-p 4"  //* @input @description:"Specify Tophat2 parameters"

// Process Parameters for BAM_Analysis_Tophat2_IGV_BAM2TDF_converter:
params.BAM_Analysis_Tophat2_IGV_BAM2TDF_converter.igv_extention_factor =  "0"  //* @input @description:"The read or feature is extended by the specified distance in bp prior to counting. This option is useful for chip-seq and rna-seq applications. The value is generally set to the average fragment length of the library minus the average read length." @tooltip:"igvtools is used"
params.BAM_Analysis_Tophat2_IGV_BAM2TDF_converter.igv_window_size =  "5"  //* @input  @description:"The window size over which coverage is averaged." @tooltip:"igvtools is used"

// Process Parameters for STAR_Module_Map_STAR:
params.STAR_Module_Map_STAR.params_STAR =  "--runThreadN 4"  //* @input @description:"Specify STAR input parameters"

// Process Parameters for BAM_Analysis_STAR_IGV_BAM2TDF_converter:
params.BAM_Analysis_STAR_IGV_BAM2TDF_converter.igv_extention_factor =  "0"  //* @input @description:"The read or feature is extended by the specified distance in bp prior to counting. This option is useful for chip-seq and rna-seq applications. The value is generally set to the average fragment length of the library minus the average read length." @tooltip:"igvtools is used"
params.BAM_Analysis_STAR_IGV_BAM2TDF_converter.igv_window_size =  "5"  //* @input  @description:"The window size over which coverage is averaged." @tooltip:"igvtools is used"

// Process Parameters for HISAT2_Module_Map_HISAT2:
params.HISAT2_Module_Map_HISAT2.HISAT2_parameters =  "-p 4"  //* @input @description:"Specify HISAT2 parameters"

// Process Parameters for BAM_Analysis_Hisat2_IGV_BAM2TDF_converter:
params.BAM_Analysis_Hisat2_IGV_BAM2TDF_converter.igv_extention_factor =  "0"  //* @input @description:"The read or feature is extended by the specified distance in bp prior to counting. This option is useful for chip-seq and rna-seq applications. The value is generally set to the average fragment length of the library minus the average read length." @tooltip:"igvtools is used"
params.BAM_Analysis_Hisat2_IGV_BAM2TDF_converter.igv_window_size =  "5"  //* @input  @description:"The window size over which coverage is averaged." @tooltip:"igvtools is used"

// Process Parameters for RSEM_module_RSEM:
params.RSEM_module_RSEM.RSEM_reference_type =  "star"  //* @dropdown @options:"bowtie","bowtie2","star"
params.RSEM_module_RSEM.RSEM_parameters =  "-p 4"  //* @input @description:"RSEM parameters" @tooltip:"RSEM v1.2.28 is used" 
params.RSEM_module_RSEM.no_bam_output =  "true"  //* @dropdown @options:"true","false" @description:"If true is selected, RSEM will not output any BAM file (default=false)"
params.RSEM_module_RSEM.output_genome_bam =  "true"  //* @dropdown @options:"true","false" @description:"If true is selected, RSEM will generate a BAM file, with alignments mapped to genomic coordinates and annotated with their posterior probabilities. (default=true)"
params.RSEM_module_RSEM.sense_antisense =  "No"  //* @dropdown @options:"Yes","No"  @description:"Quantify sense/antisense genes and transcripts"

// Process Parameters for BAM_Analysis_RSEM_IGV_BAM2TDF_converter:
params.BAM_Analysis_RSEM_IGV_BAM2TDF_converter.igv_extention_factor =  "0"  //* @input @description:"The read or feature is extended by the specified distance in bp prior to counting. This option is useful for chip-seq and rna-seq applications. The value is generally set to the average fragment length of the library minus the average read length." @tooltip:"igvtools is used"
params.BAM_Analysis_RSEM_IGV_BAM2TDF_converter.igv_window_size =  "5"  //* @input  @description:"The window size over which coverage is averaged." @tooltip:"igvtools is used"

// Process Parameters for Kallisto_module_kallisto_quant:
params.Kallisto_module_kallisto_quant.single_or_paired_end_reads =  "pair"  //* @dropdown @options:"single","pair" @description:"When single is selected, the fragment_length and standard_deviation parameters are REQUIRED."
params.Kallisto_module_kallisto_quant.fragment_length =  "200"  //* @input @description:"Estimated average fragment length. Required when using single reads. Typical value: 200"
params.Kallisto_module_kallisto_quant.standard_deviation =  "30"  //* @input @description:"Estimated standard deviation of fragment length. Required when using single reads. Typical value: 30"
params.Kallisto_module_kallisto_quant.kallisto_parameters =  "--threads 4"  //* @input @description:"Kallisto parameters."
params.Kallisto_module_kallisto_quant.genomebam =  "true"  //* @dropdown @options:"true","false" @description:"If true is selected, Kallisto will project pseudoalignments to genome sorted BAM file."

// Process Parameters for BAM_Analysis_Module_Kallisto_IGV_BAM2TDF_converter:
params.BAM_Analysis_Module_Kallisto_IGV_BAM2TDF_converter.igv_extention_factor =  "0"  //* @input @description:"The read or feature is extended by the specified distance in bp prior to counting. This option is useful for chip-seq and rna-seq applications. The value is generally set to the average fragment length of the library minus the average read length." @tooltip:"igvtools is used"
params.BAM_Analysis_Module_Kallisto_IGV_BAM2TDF_converter.igv_window_size =  "5"  //* @input  @description:"The window size over which coverage is averaged." @tooltip:"igvtools is used"

// Process Parameters for RSEM_module_CountData_DE:
params.RSEM_module_CountData_DE.cols =  ""  //* @input @description:"Comma separated columns that are going to be used in DE"
params.RSEM_module_CountData_DE.conds =  ""  //* @input @description:"Comma separated conditions that each condition correspond to the columns"

// Pipeline Config:
$HOSTNAME='default'
//pipeline defaults
params.genome_build = "" //* @dropdown @options:"human_hg19_refseq, human_hg38_gencode_v28, human_hg38_gencode_v34, mouse_mm10_refseq, mouse_mm10_gencode_m25, rat_rn6_refseq, rat_rn6_ensembl_v86, zebrafish_GRCz11_ensembl_v95, zebrafish_GRCz11_refseq, zebrafish_GRCz11_v4.3.2, c_elegans_ce11_ensembl_ws245, s_cerevisiae_sacCer3_refseq, e_coli_ASM584v2_refseq, s_pombe_ASM294v2_ensembl_v31, d_melanogaster_dm6_refseq, mousetest_mm10, custom"
params.run_Tophat = "no" //* @dropdown @options:"yes","no" @show_settings:"Map_Tophat2"
params.run_RSEM = "yes" //* @dropdown @options:"yes","no" @show_settings:"RSEM","CountData_DE"
params.run_HISAT2 = "no" //* @dropdown @options:"yes","no" @show_settings:"Map_HISAT2"
params.run_STAR = "yes" //* @dropdown @options:"yes","no" @show_settings:"Map_STAR"
params.run_Kallisto = "no" //* @dropdown @options:"yes","no" @show_settings:"kallisto_quant"
params.run_IGV_TDF_Conversion = "no" //* @dropdown @options:"yes","no" @show_settings:"IGV_BAM2TDF_converter"
params.run_RSeQC = "no" //* @dropdown @options:"yes","no"
params.run_Picard_CollectMultipleMetrics = "no" //* @dropdown @options:"yes","no"
params.run_BigWig_Conversion = "no" //* @dropdown @options:"yes","no"
params.run_checkAndBuild = "no" //* @dropdown @options:"yes","no"  @show_settings:"Check_Build_STAR_Index, Check_Build_Bowtie2_Index, Check_Build_Hisat2_Index, Check_Build_Rsem_Index, Check_Build_Bowtie_Index"
params.run_Adapter_Removal =  "no"  //* @dropdown @options:"yes","no" @show_settings:"Adapter_Removal"
params.run_Trimmer =  "no"  //* @dropdown @options:"yes","no" @show_settings:"Trimmer"
params.run_Quality_Filtering =  "no"  //* @dropdown @options:"yes","no" @show_settings:"Quality_Filtering"
params.run_Sequential_Mapping =  "no"  //* @dropdown @options:"yes","no" @show_settings:"Sequential_Mapping"
params.run_Split_Fastq =  "no"  //* @dropdown @options:"yes","no" @show_settings:"SplitFastq"
params.run_FastQC =  "no"  //* @dropdown @options:"yes","no"
params.run_FeatureCounts_after_STAR = "no"
params.run_FeatureCounts_after_Hisat2 = "no"
params.run_FeatureCounts_after_Tophat2 = "no"
params.run_FeatureCounts_after_RSEM = "no"
params.run_FeatureCounts_after_Kallisto = "no"

includeConfig 'conf/base.config'
profiles {
  test { includeConfig 'conf/test.config' }
  docker { 
        process.container = "dolphinnext/rnaseq:2.0"
        params.DOWNDIR="$HOME" // path where genome data will be saved and it should be different than run directory
        docker.enabled = true 
        docker.runOptions = "-v ${params.DOWNDIR}:${params.DOWNDIR}" 
            
  }
  singularity { 
        process.container = "dolphinnext/rnaseq:2.0"
        params.DOWNDIR="$HOME" // path where genome data will be saved and it should be different than run directory
        singularity.enabled = true 
        singularity.runOptions = "--bind ${params.DOWNDIR}" 
  }
}
