
$HOSTNAME = "default"
params.DOWNDIR = (params.DOWNDIR) ? params.DOWNDIR : ""

_species = ""
_build = ""
_share = ""
_annotation = ""  
//* autofill
if (params.genome_build == "mousetest_mm10"){
    _species = "mousetest"
    _build = "mm10"
    _annotation = "refseq_170804"
} else if (params.genome_build == "human_hg19_refseq"){
    _species = "human"
    _build = "hg19"
    _annotation = "refseq_020216"
} else if (params.genome_build == "human_hg38_gencode_v28"){
    _species = "human"
    _build = "hg38"
    _annotation = "gencode_v28"
} else if (params.genome_build == "mouse_mm10_refseq"){
    _species = "mouse"
    _build = "mm10"
    _annotation = "refseq_011015"
} else if (params.genome_build == "rat_rn6_refseq"){
    _species = "rat"
    _build = "rn6"
    _annotation = "refseq_070716"
} else if (params.genome_build == "rat_rn6_ensembl_v86"){
    _species = "rat"
    _build = "rn6"
    _annotation = "ensembl_v86"
} else if (params.genome_build == "zebrafish_GRCz11_ensembl_v95"){
    _species = "zebrafish"
    _build = "GRCz11"
    _annotation = "ensembl_v95"
} else if (params.genome_build == "zebrafish_GRCz11_refseq"){
    _species = "zebrafish"
    _build = "GRCz11"
    _annotation = "refseq_240519"
} else if (params.genome_build == "zebrafish_GRCz11_v4.1.2"){
    _species = "zebrafish"
    _build = "GRCz11"
    _annotation = "refseq_v4.1.2"
} else if (params.genome_build == "c_elegans_ce11_ensembl_ws245"){
    _species = "c_elegans"
    _build = "ce11"
    _annotation = "ensembl_ws245"
} 


if ($HOSTNAME == "default"){
    
    _share = "${params.DOWNDIR}/genome_data"
    $DOCKER_IMAGE = "dolphinnext/rnaseq:1.0"
    $DOCKER_OPTIONS = "-v ${params.DOWNDIR}:${params.DOWNDIR}"
}
//* platform
if ($HOSTNAME == "ghpcc06.umassrc.org"){
    _share = "/share/data/umw_biocore/dnext_data/genome_data"
    $SINGULARITY_IMAGE = "/project/umw_biocore/singularity/UMMS-Biocore-rna-seq-1.0.img"
    $SINGULARITY_OPTIONS = "--bind /share --bind /nl --bind /project"
    $TIME = 240
    $CPU  = 1
    $MEMORY = 32 
    $QUEUE = "short"
} 
//* platform
if (params.genome_build && $HOSTNAME){
    params.genome_url   = "https://galaxyweb.umassmed.edu/pub/dnext_data/genome_data/${_species}/${_build}/main/genome.fa"
    params.gtf_url      = "https://galaxyweb.umassmed.edu/pub/dnext_data/genome_data/${_species}/${_build}/${_annotation}/genes/genes.gtf"
    params.commondb_url = "https://galaxyweb.umassmed.edu/pub/dnext_data/genome_data/${_species}/${_build}/commondb/"
    
    params.genome      = "${_share}/${_species}/${_build}/main/genome.fa"
    params.genome_sizes = "${_share}/${_species}/${_build}/main/genome.chrom.sizes"
    params.bed         = "${_share}/${_species}/${_build}/${_annotation}/genes/genes.bed"
    params.gtf         = "${_share}/${_species}/${_build}/${_annotation}/genes/genes.gtf"
    params.commondb    = "${_share}/${_species}/${_build}/commondb/"
    
    params.bowtie_index  = "${_share}/${_species}/${_build}/BowtieIndex/genome"
    params.bowtie2_index = "${_share}/${_species}/${_build}/Bowtie2Index/genome"
    params.star_index    = "${_share}/${_species}/${_build}/${_annotation}/STARIndex/"
    params.hisat2_index  = "${_share}/${_species}/${_build}/${_annotation}/Hisat2Index/genome"
    params.rsem_ref_using_bowtie_index  = "${_share}/${_species}/${_build}/${_annotation}/RSEM_ref_Bowtie/genome"
    params.rsem_ref_using_bowtie2_index = "${_share}/${_species}/${_build}/${_annotation}/RSEM_ref_Bowtie2/genome"
    params.rsem_ref_using_star_index    = "${_share}/${_species}/${_build}/${_annotation}/RSEM_ref_STAR/genome"
    
    params.bowtieInd_rRNA  = "${_share}/${_species}/${_build}/commondb/rRNA/rRNA"
    params.bowtieInd_ercc  = "${_share}/${_species}/${_build}/commondb/ercc/ercc"
    params.bowtieInd_miRNA = "${_share}/${_species}/${_build}/commondb/miRNA/miRNA"
    params.bowtieInd_tRNA  = "${_share}/${_species}/${_build}/commondb/tRNA/tRNA"
    params.bowtieInd_piRNA = "${_share}/${_species}/${_build}/commondb/piRNA/piRNA"
    params.bowtieInd_snRNA = "${_share}/${_species}/${_build}/commondb/snRNA/snRNA"
    params.bowtieInd_rmsk  = "${_share}/${_species}/${_build}/commondb/rmsk/rmsk"
}
if ($HOSTNAME){
    params.pdfbox_path = "/usr/local/bin/dolphin-tools/pdfbox-app-2.0.0-RC2.jar"
    params.gtf2bed_path = "/usr/local/bin/dolphin-tools/gtf2bed"
}
//* autofill
