//Nextflow config file for running tests

$HOSTNAME = 'Test'
params {
  // Input data
  reads = "inputs/*.fastq.gz"
  mate = "single"
  genome_build = "mousetest_mm10"
  run_FeatureCounts_after_STAR = "yes"
  run_FeatureCounts_after_Hisat2 = "yes"
  run_FeatureCounts_after_Tophat2 = "yes"
  run_FeatureCounts_after_RSEM = "yes"
  run_Tophat = "no" 
  run_RSEM = "yes" 
  run_HISAT2 = "yes" 
  run_STAR = "no" 
  run_Sequential_Mapping = "yes"
  run_IGV_TDF_Conversion = "yes" 
  run_RSeQC = "yes" 
  run_Picard_CollectMultipleMetrics = "yes" 
  run_BigWig_Conversion = "yes" 
  run_FastQC = "no"
  run_Trimmer = "no"
  run_Quality_Filtering = "no"
  run_Adapter_Removal = "no"
  run_checkAndBuild = "yes"
}
