//Nextflow config file for running tests
params {
  DOWNDIR="$HOME"
  // Input data
  reads = "inputs/*.fastq.gz"
  mate = "single"
  genome_build = "mousetest_mm10"
  run_FeatureCounts_after_STAR = "yes"
  run_FeatureCounts_after_Hisat2 = "no"
  run_FeatureCounts_after_Tophat2 = "no"
  run_FeatureCounts_after_RSEM = "no"
  run_FeatureCounts_after_Kallisto = "no"
  run_Tophat = "yes" 
  run_RSEM = "yes" 
  run_HISAT2 = "yes" 
  run_STAR = "yes" 
  run_Kallisto = "yes"
  run_Sequential_Mapping = "yes"
  run_IGV_TDF_Conversion = "yes" 
  run_RSeQC = "yes" 
  run_Picard_CollectMultipleMetrics = "yes" 
  run_BigWig_Conversion = "no" 
  run_FastQC = "yes"
  run_Trimmer = "yes"
  run_Quality_Filtering = "yes"
  run_Adapter_Removal = "yes"
  run_Download_Genomic_Sources = "yes"
  
  // Process Parameters for Sequential_Mapping_Module_Sequential_Mapping:
  Sequential_Mapping_Module_Sequential_Mapping.remove_duplicates = "yes" 
  Sequential_Mapping_Module_Sequential_Mapping.remove_duplicates_based_on_UMI_after_mapping = "no" 
  Sequential_Mapping_Module_Sequential_Mapping._select_sequence = ["rRNA","ercc","miRNA","tRNA","piRNA","snRNA","rmsk","genome"] 
  Sequential_Mapping_Module_Sequential_Mapping.index_directory = ["","","","","","","",""] 
  Sequential_Mapping_Module_Sequential_Mapping.name_of_the_index_file = ["rRNA","ercc","miRNA","tRNA","piRNA","snRNA","rmsk","genome"] 
  Sequential_Mapping_Module_Sequential_Mapping._aligner = ["bowtie","bowtie2","bowtie","bowtie2","bowtie","bowtie2","bowtie","STAR"] 
  Sequential_Mapping_Module_Sequential_Mapping.aligner_Parameters = ["--threads 1","-N 1","--threads 1","-N 1","--threads 1","-N 1","--threads 1","--runThreadN 1"] 
  Sequential_Mapping_Module_Sequential_Mapping.description = ["rRNA","ercc","miRNA","tRNA","piRNA","snRNA","rmsk","genome"] 
  Sequential_Mapping_Module_Sequential_Mapping.filter_Out = ["Yes","No","No","No","No","No","No","No"] 
  
  // Process Parameters for Kallisto_module_kallisto_quant:
  params.Kallisto_module_kallisto_quant.single_or_paired_end_reads = "single" 
  params.Kallisto_module_kallisto_quant.fragment_length = 200
  params.Kallisto_module_kallisto_quant.standard_deviation = 30
  params.Kallisto_module_kallisto_quant.genomebam = "true"
  
  // Process Parameters for Building Indexes:
  params.STAR_Module_Check_Build_STAR_Index.build_STAR_index = true 
  params.Sequential_Mapping_Module_Download_build_sequential_mapping_indexes.download_build_sequential_mapping_indexes = true
  params.Kallisto_module_Check_Build_Kallisto_Index.build_Kallisto_index = true
  params.HISAT2_Module_Check_Build_Hisat2_Index.build_Hisat2_index = true
  params.RSEM_module_Check_Build_Rsem_Index.build_RSEM_index = true
  params.Tophat2_Module_Check_Build_Bowtie2_Index.build_Bowtie2_index = true 

}
// Load base config after genome_build and DOWNDIR is defined  
includeConfig 'base.config'